
body{
  min-width: 100%;
  min-height: 100%;
}
#titleSpan{
  font-family: 'Expletus Sans', cursive;
}


#imageBannerDiv {
   height: 400px;
   background-size: cover;
}
#h1Span{
  display: inline;
  position: absolute;
  color: white;
  letter-spacing: 1px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  top:25%;
  left: -2%;

}

#landingImageSpan{
  display: inline;
  position: absolute;
  color: white;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  top:60%;
  left: 50%;
}
#searchLinkSpan{
  display: inline;
  position: absolute;
  border-radius: 100%;
  color: white;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  top:54%;
  left: 20%;
}



#icon1{
  font-size: 8rem;
border-radius: 100%;
}

#goaway{
  margin: 0;
  padding: 0;
}

h1 span {
  display: inline;
   color: white;
   letter-spacing: 1px;
   background: rgba(0, 0, 0, 0.8);
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: 20px;
}
button{
  font-family: 'Expletus Sans', cursive;
}

.fade-in {
    animation: fade-in 2s ease;
    visibility: visible;
}
